<!DOCTYPE html>
<html>
    <head>
        <title>Add a page to {{ category.category_name }}</title>
    </head>

    <body>
        <h1>Add a page to {{ category.category_name }}</h1>
        <form id="page_form" method="post" action="/rango/add_page/">
            {% csrf_token %}

            {% if category %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
            {% else %}
                     <p>Sorry, that category doesn't exist. Maybe try again.</p>
                {% endif %}

            <input type="submit" name="submit" value="Create Category" />
        </form>
    </body>

</html>