<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->

<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says…hello, world!</h1>

        {% if categories %}
            <h3>Here are the page categories:</h3>
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category' category.slug %}/">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            <br/>
            <h3>Here are the most popular pages:</h3>
            <ul>
                {% for page in popular_pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a> ({{ page.views }} views)</li>
                {% endfor %}
            </ul>

        {% else %}
            <strong>There are no categories present. Whaaaaat?</strong>
        {% endif %}

        <a href="{% url 'about' %}">About</a><br />
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango"> <br /><!-- New line -->

        <a href="{% url 'add_category' %}">Add a new category</a><br />

    </body>
</html>